<html lang="en-us">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=Edge;chrome=1" >
        <meta charset="utf-8" />
        <link href="{{ CORE_ASSETS_ADMIN_WEB_ROOT }}/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="screen" />
        <link href="{{ CORE_ASSETS_ADMIN_WEB_ROOT }}/css/responsive.css" rel="stylesheet">
        <link href="{{ CORE_ASSETS_ADMIN_WEB_ROOT }}/css/custom.css" rel="stylesheet">
    </head>
    <body style="background: #ffffff;">
        {{ contentHtml|raw }}
    </body>
</html>