{% extends "admin/partial/layout_logged_in.html.twig" %}

{% block title %}Export Translations{% endblock %}
{% block selected_page %}plugins{% endblock %}
{% block selected_sub_page %}plugins_manage{% endblock %}

{% block body %}
    <div class="right_col" role="main">
        <div class="">
            <div class="page-title">
                <div class="title_left">
                    <h3>Export Translations</h3>
                </div>
            </div>
            <div class="clearfix"></div>

            {{ msg_page_notifications|raw }}

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <form method="POST" action="translation_manage_export" name="pluginForm" id="pluginForm" enctype="multipart/form-data" class="form-horizontal form-label-left">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2>Export To CSV</h2>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                <p>Choose the language to export as a CSV file. You can amend the CSV offline and <a href="translation_manage_import">import</a> it back into the system later. Once exported, change the content within the 'Translation' column only.</p>
                                <br/>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="upload_server_override">Choose Language:
                                    </label>
                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                        <select name="languageId" id="languageId" class="form-control">
                                            {% for language in languages %}
                                                <option value="{{ language.id }}">{{ language.languageName }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>

                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                        <button type="submit" class="btn btn-primary">Export Data (CSV)</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <input name="submitted" type="hidden" value="1"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}